<!-- <div class="container">
  <h1 class="title">
  </h1>
  <div *ngFor="let device of deviceList">
    {{device.id}}
    {{device.type}}
  </div>
  <input type="text" [(ngModel)]="url">
  <input type="text" [(ngModel)]="url1">
  <button type="button" (click)="send(url,url1)">SEND</button>  
</div> -->
<header class="toolbar toolbar-header">
    <h1 class="title">Header</h1>
  </header>
  
  <div class="pane-group">

      <div class="pane-sm sidebar">
          <nav class="nav-group">
              <h5 class="nav-group-title">Favorites</h5>
              <a class="nav-group-item">
                <span class="icon icon-home"></span>
                connors
              </a>
              <span class="nav-group-item">
                <span class="icon icon-download"></span>
                Downloads
              </span>
              <span class="nav-group-item">
                <span class="icon icon-folder"></span>
                Documents
              </span>
              <span class="nav-group-item">
                <span class="icon icon-signal"></span>
                AirPlay
              </span>
              <span class="nav-group-item">
                <span class="icon icon-print"></span>
                Applications
              </span>
              <span class="nav-group-item">
                <span class="icon icon-cloud"></span>
                Desktop
              </span>
            </nav>
      </div>
    
      <div class="pane">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    
    </div>
  
  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>